<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <img src="/img/rick_sanchez.jpg" alt="Rick Sanchez" class="aboutPagePic">
        <p>This will be the text for the about page</p>
        </div>
        {{>footer}}
    </body>
</html>