<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, quaerat magnam, eveniet unde fugiat odio, cumque ut debitis sint delectus esse quo sit similique! Ducimus id necessitatibus illum cupiditate laboriosam.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum soluta repudiandae commodi deserunt delectus possimus, nesciunt autem nihil accusamus iure quis, culpa atque doloremque tempore beatae? Ad blanditiis nemo tempore?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius unde perspiciatis quod consequuntur dolore. Nesciunt enim a deleniti voluptates totam doloremque. Numquam rerum saepe, commodi impedit illum laborum dicta exercitationem.</p>
        <img src="/img/rick_sanchez.jpg" alt="Rick Sanchez" class="aboutPagePic">
        </div>
        {{>footer}}
    </body>
</html>